name: 'Increment Version - npm'
on:
  pull_request:
    types: [ closed ]
    branches: [ main ]

jobs:
  version:
    uses: UKHomeOffice/sas-github-workflows/.github/workflows/semver-increment-npm.yml@a4d313effcee7b0550062d0a685999b80bc6f190
